body {
    margin: 0;
    background-color: rgb(19, 75, 65);
}

.game {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 100%;
    justify-items: center;
    margin-top: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(88, 84, 78);
    color: aquamarine;
    padding: 1rem;
    border: 2px solid gray;
}

.game button {
    font-size: 120%;
    border-radius: 15rem;
    padding: 1rem;
}

.game div.h1 {
    
    text-decoration: underline;
    padding: 1rem 20%;
    margin: 0;
    
}